@page "/billing"

<h3>Cashier</h3>

<MudImage Src="C://Users//Mikolaj//source//repos//WebPokerVideoGame-main//WebPokerVideoGame.App2//wwwroot//billing.jpg" Alt="Logos" Class="rounded-lg" />


<MudButton Variant="Variant.Filled" Color="Color.Primary">ADD CREDITS</MudButton>
@code {
    
}
