<MudDialog>
    <Header>
        <h3>Dialog Title</h3>
    </Header>
    <Content>
        <!-- Your dialog content goes here -->
    </Content>
    <Footer>
        <MudButton OnClick="@CloseDialog">Close</MudButton>
    </Footer>
</MudDialog>

@code {
    private void CloseDialog()
    {
        
    }
}
