@page "/registration-confirmation"

<h3>RegistrationConfirmation</h3>

<div class="ma-6 d-flex justify-center">
    <MudChip  Color="Color.Primary">
        <h3>Registration succeed!</h3>
    </MudChip>
</div>

@code {

}
